body {
     margin: 0; 
     padding: 0; 
     font-family: 'Open Sans', sans-serif;
    }
html, body, #map {
    z-index: 1;
    height: 100vh; 
}

/*Nav Bar*/

#nav_bar{
    z-index: 2;
    position: absolute;
    top: 0rem;
    left: 0rem;
    height: 3.25rem;
    width: 99.6vw;
    max-width: 99.6vw;
    background-color:white ;
    border-style: solid;
    border-width: 3px;
    display: flex;
    justify-content:space-between;
    align-items: center; 
}
#dropdown_menu_icon{
    display: none;
}

#london_parkive_title{
    margin-left: 1.5rem;

    font-weight:800;
    font-size: 2rem;
    color: black;
}
#nav_options{
    z-index: 3;
    display: flex;
    position: absolute;
    top: 0.6rem;
    right: 1.5rem;
    
}
.dropdown_box{
    display: flex;
   
}
.nav_item{
    font-weight: 600;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    padding: 0.2rem;
    margin-left: 0.4rem;
    margin-right: 0.4rem;
}
.nav_item:hover{
    color: #50B848;
}
.active_nav_item{
    color: #50B848;
}
#search_bar{
    z-index: 2;
    position: absolute;
    top: 4.3rem;
    left: 1rem;
    height: 2.5rem;
    width: 20rem;
    border-radius: 0.75rem;
    border-style: solid;
    border-color: black;
    border-width: 2.5px;
    padding-left:1rem;
    font-size: 1rem;
}
#search_bar::placeholder{
    color: #C0C0C0C0;
}
#search_bar::-webkit-search-cancel-button{
    -webkit-appearance: none;
}
#view_mode_buttons_container{
    z-index: 2;
    position: absolute;
    top: 4rem;
    right: 1rem;
    display: flex;
    justify-content:flex-end;
    align-items: center;
}
.view_mode_buttons{
    width: 8rem;
    height: 3.2rem;
    border-radius: 1rem;;
    background-color:white;
    border-color:black;
    border-style:solid;
    border-width: 3px;;
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 0.2rem;
    font-weight:700;
    font-size: 1.2rem;
    color: black;
    text-align: center;
    line-height: 1.1rem;  
}
.view_mode_buttons:hover{
    background-color: black;
    color: #50B848;
}

.view_mode_active{
    background-color:black; 
    color: white;
}
.key_row{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0.1rem;
}
.key_square{
    z-index: 3;
    width: 1rem;
    height: 1rem;
    margin: 0.1rem;
    margin-left: 0.2rem;
    background-color:aqua;
}
.key_description{
    font-size: 0.9rem;
    font-weight:lighter;
    margin-left: 0.3rem;
}
#status_keys{
    z-index: 2;
    width:fit-content;
        height:fit-content;
    background-color: white;
    display: flex;
    flex-direction:column;
    justify-content: center;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}
#yearOpened_keys{
    z-index: 2;
    width:fit-content;
    height:fit-content;
    background-color: white;
    display: none;
    flex-direction:column;
    justify-content: center;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}
#alterations_keys{
    z-index: 2;
    width:fit-content;
    height:fit-content;
    background-color: white;
    display: none;
    flex-direction:column;
    justify-content: center;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

/*popups*/

.maplibregl-popup-content{
    width: fit-content;
    border-radius: 1rem;
    box-shadow: 5px 5px 5px 2px rgba(0,0,0,0.3);
}
.maplibregl-popup-close-button{
    height: 2rem;
    width: 2rem;
    font-size: 1.5rem;
}
.popup_container{
    display: flex;
    flex-direction:column;
    align-items: center;
}
.popup_park_name{
    margin-top: 0.4rem;
    margin: 0.2rem;
    font-size: 1.2rem;
    text-align: center;
}
.popup_coordinates{
    text-align: center;
    margin: 0.1rem;
}
.popup_info_section{
   margin: 0.4rem;
   width: 14rem;
}
.popup_info_row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.2rem;
    margin: 0.1rem;
}
.popup_info_type{
    font-size: 1rem;
}
.popup_info_box{
    width: 7rem;
    height:1.7rem;
    border-radius: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup_opening_period{
    background-color: aqua; 
}
.pop_up_status{
    background-color:aqua;
}
.popup_info_text{
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    color: black;
}
#tell_me_more_button{
    width: 8rem;
    height: 2.5rem;
    border-radius: 0.7rem;
    border-style:none;
    font-size: 1rem;
    font-weight: 800;
    background-color: black;
    color: white;
    margin: 0.2rem;
    margin-top: 0.4rem;
}
#tell_me_more_button:hover{
    color: #50B848;
}

#parks_information_overlay_container{
    width: 50vw;
    max-height: 93vh;
    background-color:white;
    z-index: 3;
    position: absolute;
    top: 3.5rem;
    border-width: 3px;
    border-color: black;
    border-style: solid;
    display: none;
}
#parks_information_overlay_content{
    overflow: scroll;
    height: 93vh;
}
#park_info_overlay_top_row{
    display: flex;
    align-items: center;
    justify-content: center;
}
#park_info_overlay_header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}
#parks_info_backButton{
    flex: 1;
    width: 4.4rem;
    height: 2.8rem;
    margin: 0.4rem;
    margin-left: 2rem;
    margin-top: 1rem;
}
#parks_info_backButton:hover div{
    background-color:#50B848;
}
#arrow_line_1, #arrow_line_3{
    width: 1.2rem;
    height:0.3rem;
    background-color: black;
    border-radius: 5rem;
}
#arrow_line_2{
    width: 1.5rem;
    height: 0.3rem;
    background-color: black;
    border-radius: 5rem;
    transform: translate(5px, 14px)
}
#arrow_line_1{
    transform: translate(0, 13px) rotate(-45deg);
}
#arrow_line_3{
    transform: translate(0, 14px) rotate(45deg);
}
#park_info_overlay_coordinates{
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-left: 1.4rem;
}
#park_info_overlay_park_name{
    flex: 5;
    font-size: 1.6rem;
    margin-bottom: 0.4rem;
    max-width: 80%;
    text-align: center;
    
}
#park_info_overlay_other_names{
    font-size: 1rem;
    margin: 0.8rem;
    margin-left: 6rem;
    margin-right: 3rem;
    max-width: 80%;
}
#park_info_overlay_coordinates{
    font-size: 1rem;
    text-align: center;
}
#blank_flex_box{
    flex: 1;
}
#park_info_overlay_info_summary_section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}
.park_info_overlay_info_summary_row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 15rem;
    margin: 0.4rem;
}
.park_info_overlay_info_summary_type{
    font-size: 1rem;
}
.park_info_overlay_info_summary_box{
    width: 7rem;
    height:1.6rem;
    background-color: cyan;
    border-radius: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.park_info_overlay_info_summary_text{
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    color: black;
}
.park_info_overlay_section_divider{
    width: 95%;
    border-style: solid;
    border-width:1px;
}
.park_info_overlay_detailed_info_section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.park_info_overlay_title_row{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.park_info_overlay_toggle_arrow{
    width: 1.5rem;
    height: 1.5rem;
    margin: 0.4rem;
}
.park_info_overlay_toggle_arrow:hover div{
    background-color:#50B848;
}
.park_info_overlay_toggle_arrow_line_1, .park_info_overlay_toggle_arrow_line_2{
    width: 0.6rem;
    height:0.2rem;
    background-color: black;
    border-radius: 5rem;
}
.park_info_overlay_toggle_arrow_line_1{
    transform: translate(1px, 10.5px) rotate(45deg);
}
.park_info_overlay_toggle_arrow_line_2{
    transform: translate(1px, 12px) rotate(-45deg);
}
.changeHistoryToggle .park_info_overlay_toggle_arrow_line_1{
    transform: translate(1px, 12.5px) rotate(45deg);
}
.changeHistoryToggle .park_info_overlay_toggle_arrow_line_2{
    transform: translate(6px, 9px) rotate(-45deg);
}
.park_info_overlay_detailed_info_section_title{
    font-size: 1.4rem;
    font-weight:700;
    text-align: center;
    margin: 1rem;
}
.park_info_overlay_detailed_info_section_text{
    width: 80%;
    font-size: 0.9rem;
}
#park_info_overlay_history_text{
    display:none;
}
/* List Page */
#table_container{
    display: flex;
    justify-content: center;
}
#london_parkive_list_view{
    position: absolute;
    top: 10rem;
    width: 80vw;
    margin: 2rem;
    font-size: 1.2rem;
    font-weight: 600;
}
#list_view_table_header{
    text-align: left;

}
#london_parkive_list_view tr{
    height: 3rem;
}
/* #london_parkive_list_view td{
 
} */
/*Media Queries*/

@media screen and (max-width: 900px){
    #london_parkive_title{
        margin-left: 0.5rem;
        font-weight:800;
        font-size: 1.6rem;
        color: black;
        line-height: 1.5rem;;
    }
    #nav-bar{
        width:99vw;
        max-width: 99vw;
        height: 2.5rem;
        border-width: 2px;
    }
    #dropdown_menu_icon{
        z-index: 3;
        position: absolute;
        top: 1.2rem;
        right: 0.5rem;
        width: 2rem;
        height: 1.2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .dropdown_menu_lines{
        width: 1.5rem;
        height:0.2rem;
        border-radius: 1rem;
        background-color: black;
    }
    #top_line, #middle_line, #bottom_line{
        transition: 0.5s;
    }
    .changeDropdown #top_line{
        transform: translate(0, 11px) rotate(45deg);
    }
    .changeDropdown #middle_line{
        opacity: 0;
    }
    .changeDropdown #bottom_line{
        transform: translate(0, -5px) rotate(-45deg);
    }
    #nav_container{
        display: none;
    }
    #nav_options{
        z-index: 5;
        flex-direction: column;
        position: absolute;
        justify-content: center;
        top: 4rem;
        right: 0rem;
        width: 100vw;
        
    }
    .dropdown_box{
        height: 2rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        border-bottom: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
    }
    .nav_item{
       text-align: center;
       padding: 0.6rem;
       font-size: 1.5rem;
    }
    #dropdown_background{
        z-index: 4;
        width: 100vw;
        height: 9.4rem;
        background-color:white;
        border-style: solid;
        border-width: 3px;
        position: absolute;
        display: none;
        top: 3.4rem;
    }
    
    #search_bar{
        height: 2.5rem;
        width: 92vw;;
    }
    #view_mode_buttons_container{
        position: absolute;
        justify-content:flex-start;
        width: 92vw;
        top: 7rem;
        left: 1rem;
    }
    .view_mode_buttons{
        width: 8rem;
        height: 2.5rem;
        border-radius: 1rem;;
        border-width: 2px;;
        font-weight:700;
        font-size: 1rem;
        line-height: 1.1rem;  
    }
    .key_square{
        z-index: 3;
        width: 0.7rem;
        height: 0.7rem;
        margin: 0.1rem;
        margin-left: 0.2rem;
        background-color:aqua;
    }
    .key_description{
        font-size: 0.7rem;
        font-weight:lighter;
        margin-left: 0.3rem;
    }
    #status_keys{
        bottom: 2.5rem;
    }
    #yearOpened_keys{
        bottom: 2.5rem;
    }
    #alterations_keys{
        bottom: 2.5rem;
    }
    .tell_me_more_button{
        width: 8rem;
        height: 2rem;
        border-radius: 1rem;
        border-style:none;
        font-size: 0.8rem;
        font-weight: 800;
        background-color: black;
        color: white;
        margin: 0.2rem;
        margin-top: 0.4rem;
    }
    
    /* Overlay Media Queries*/
    #parks_information_overlay_container{
        width: 100vw;
        max-height: 50vh;
        top: 50%;
        border-style: none;
        box-shadow: 0px -10px 15px rgba(0,0,0,0.3);
    }
    #parks_information_overlay_content{
        height: 50vh;
    }
    #park_info_overlay_top_row{
        display: flex;
    }
    #park_info_overlay_header{
        margin-bottom: 0.5rem;
    }
    #parks_info_backButton{
        width: 3rem;
        height: 2em;
        margin: 0.4rem;
        margin-left: 1rem;
        margin-top: 1rem;
    }
    #arrow_line_1, #arrow_line_3{
        width: 1rem;
        height:0.2rem;
        background-color: black;
        border-radius: 5rem;
    }
    #arrow_line_2{
        width: 1.2rem;
        height: 0.2rem;
        background-color: black;
        border-radius: 5rem;
        transform: translate(5px, 14px)
    }
    #arrow_line_1{
        transform: translate(0, 12px) rotate(-45deg);
    }
    #arrow_line_3{
        transform: translate(0, 15px) rotate(45deg);
    }
    #park_info_overlay_park_name{
        font-size: 1.4rem;
        text-align: center;
        margin-bottom: 0.4rem;
        max-width: 80%;
        
    }
    #park_info_overlay_other_names{
        font-size: 1rem;
        margin: 0.8rem;
        max-width: 80%;
    }
    #park_info_overlay_coordinates{
        font-size: 1rem;
        text-align: center;
    }
    #blank_flex_box{
        flex: 1;
    }
    .park_info_overlay_section_divider{
        border-width: 0.5px;
    }
    .park_info_overlay_detailed_info_section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .park_info_overlay_title_row{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .park_info_overlay_toggle_arrow{
        width: 1.5rem;
        height: 1.5rem;
        margin: 0.4rem;
    }
    .park_info_overlay_toggle_arrow:hover div{
        background-color:#50B848;
    }
    .park_info_overlay_toggle_arrow_line_1, .park_info_overlay_toggle_arrow_line_2{
        width: 0.6rem;
        height:0.2rem;
        background-color: black;
        border-radius: 5rem;
    }
    .park_info_overlay_toggle_arrow_line_1{
        transform: translate(1px, 10.5px) rotate(45deg);
    }
    .park_info_overlay_toggle_arrow_line_2{
        transform: translate(1px, 12px) rotate(-45deg);
    }
    .changeHistoryToggle .park_info_overlay_toggle_arrow_line_1{
        transform: translate(1px, 12.5px) rotate(45deg);
    }
    .changeHistoryToggle .park_info_overlay_toggle_arrow_line_2{
        transform: translate(6px, 9px) rotate(-45deg);
    }
    .park_info_overlay_detailed_info_section_title{
        font-size: 1.4rem;
        font-weight:700;
        text-align: center;
        margin: 1rem;
    }
    .park_info_overlay_detailed_info_section_text{
        width: 80%;
        font-size: 0.9rem;
    }
    #park_info_overlay_history_text{
        display:none;
    }
}
@media screen and (max-width: 400px){
    #parks_information_overlay_container{
        max-height: 40vh;
        top: 60%;
    }
    #parks_information_overlay_content{
        height: 40vh;
    }
    #park_info_overlay_top_row{
        margin-bottom: 0;
    }
    #park_info_overlay_header{
        margin-bottom: 0;
    }
    #park_info_overlay_park_name{
        margin-top: 0.6rem;
        margin-bottom: 0;
        font-size: 1.3rem;
    }
    #parks_info_backButton{
        margin-top: 0.6rem;
        margin-bottom: 0;
    }
    #park_info_overlay_info_summary_section {
        margin: 0.5rem;
    }
    .park_info_overlay_section_divider{
        margin: 0.2rem;
    }
    .park_info_overlay_detailed_info_section_title {
        margin: 0.5rem;
        font-size: 1.2rem;
    }
    .park_info_overlay_detailed_info_section_text {
        margin: 0.4rem;
    }
    #park_info_overlay_coordinates{
        font-size: 0.8rem;
    }
}