#topSection{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width:100vw;
}
.back{
}
#backButton{
    max-height: 3vw;
    padding: 0.5rem;   
}
#pageTitle{
    display:flex;
    justify-content: center;
    padding: 5rem; 
    max-width: 70vw;  
} 
#typewriterTitle{
    font-family:monospace;
    font-size: 3rem;
    overflow: hidden;
    border-right: .15em solid red;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation:
        typing 3.5s steps(30, end),
        blink-caret .5s step-end infinite;
}

@keyframes typing{
    from {width:0}
    to {width: 100%}
}
@keyframes blink-caret{
    from, to {border-color: transparent}
    50% {border-color: red}
}
#playgroundDescription{
    font-family: monospace;
    font-size: 1.5rem;
    text-align: center;
    padding: 0.1rem;
    margin-bottom: 2rem;
}
#playgroundProjects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.project{
    margin: 0.5rem;
    width: 60vw;
}
.projectTile{
    padding: 0.2rem;
    margin: 0.25rem;
    margin-left: 4rem;
}
.projectLink{
    font-family: monospace;
    font-size: 1.5rem;
}
.projectDescription{
    font-family: monospace;
    font-size: 1rem;
    padding: 0.2rem;
    margin: 0.25rem;
    margin-left: 4rem;

}
@media screen and (max-width: 500px){
    #topSection{
        flex-direction: column;
    }
    #pageTitle{
        padding: 3rem;
    }
    #typewriterTitle{
        font-size: 1.8rem;
    }
    #playgroundDescription{
        font-size: 1.2rem;
        margin: 1rem;
        margin-left: 1.3rem;
        margin-right: 1.3rem;
    }
    .project{
        width: 90vw;
    }
    .projectTile{
        margin-left: 0.5rem;
    }
    .projectDescription{
        margin-left: 0.5rem;
    }
}